// 代码块右上角，不显示语言
div[class*='language-']::before {
  display: none;
}

// 超链接样式
.vp-page a:not(.header-anchor) {
  text-decoration: none !important;
}
.vp-page a:not(.header-anchor):hover {
  text-decoration: underline !important;
}
